.picture{
    width: 20rem;
    height: 20rem;
    border-radius: 20%;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.left{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    background-color: black;
    color: white;
     
    /* align-items: center;  */
    gap: 3rem;
    display: flex;
    flex-direction: column;
    height: 44rem;
    
}
.left-title{
    
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}
.right{
   display: flex;
   flex-direction: column;
    
}
.main{
    display: flex;
    flex-direction: column;
    display: flex;
    
}
.right-title{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;

}
.contact>span{
    display: flex;
    flex-direction: column;
}
.experience-details{
    display: flex;
    
    flex-direction: column;
    font-weight: normal;
    font-size: 1rem;
   
}
.experience-details>span:nth-child(1){
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}
.experience-details>span:nth-child(2){
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.educations-details{
    display: flex;
    flex-direction: column;  
}
.certificates-datails{
    display: flex;
    flex-direction: column;
   
}
.skills-details{
    display: flex;
    flex-direction: column;
}