<div id="myElement">
<div class="container">
  <div class="row">
    
        
        <div class="col-4">
  
                <img class="picture col-2" [src]="imageUrl" alt="">

            <div class="description">
              <div class="left-title">about me</div>
              <span class="container">{{person.Description}}</span>      
          </div><!--description-->

          <div class="languages">
            <div class="left-title">languages</div> {{arr.Languages}}
         </div><!--languages-->

         <div class="skills">
          <div class="left-title">skills</div>  {{arr.Skills}}
        </div><!--skills-->
      </div>

            
           
    <!--LEFT SIDE ENDED-->
    
    <div class="right col-8">
      <div class="header row border">
      <div class="main col-7">
      <div class="name">
        <h1> <span class="Name">{{person.Name}}</span> </h1>
    </div><!--name-->
    <div class="Title">
      <h2>{{person.Title}}</h2>
    </div><!--title-->
  </div><!--col-8 main-->

  
    <div class="contact col-5">
        
      <span style="font-weight: bold;">Adress</span> {{person.Adress}}
      <span style="font-weight: bold;">Phone</span> {{person.Phone}}
      <span style="font-weight: bold;">Email</span> {{person.Email}}
      <span style="font-weight: bold;">LinkedIn</span> {{person.LinkedIn}}
      <span style="font-weight: bold;">GitHub</span> {{person.GitHub}}
   </div><!--contact-->
  </div><!--header row-->


  <div class="row">
    <div class="col-6 border mt-10">
  <div class="experience">
        <div class="right-title">
          Experiences
        </div>
      </div>
      <!--experience title ended-->
      <div class="experiencedetails" *ngFor="let experiences of experiences">
      <div class="experience-details">
      
      <span >{{experiences.experience}} experience</span>
      <span>{{experiences.experiencePlace}} experience place</span>
      <span>{{experiences.dateexperience}} experience Date</span>
      <!-- {{experiences.experiencePlace}}
      {{experiences.dateexperience}} -->
      </div>
    
    </div><!--experience-->
    <!--education begin-->


    <div class="education">

      <div class="right-title">Education</div>
    
    <div class="educationloop" *ngFor="let education of educations">
      <div class="educations-details">
     <span> {{education.educationType}} educations Type </span>
     <span> {{education.educationPlace}} educations Place</span>
     <span> {{education.dateE}} educations Date </span>
    </div><!--education details-->
    </div><!--loop-->
  </div>
  </div><!--education-->
  

  
    <div class="p-2 col-6 border">

  <div class="certificates">
    <div class="right-title">Certificates</div>
      <div class="certificatesloop" *ngFor="let certificate of certificates">
      <div class="certificates-datails">
      <span>  {{certificate.title}} certificate Title</span>
      <span>  {{certificate.dateC}} certificate date</span>
      </div><!--details-->
    </div><!--loop-->
    </div><!--certificates-->
  

  <div class="skills">
    <div class="right-title">Skills</div>
    <div class="skillsloop" *ngFor="let skill of skills">
  <div class="skills-details">
   <span> {{skill.skills}} Skills </span>
   <span> {{skill.level}} Skills level </span>
  </div><!--skills details-->
  </div><!--loop-->
  </div><!--skills-->


</div><!--col-6-->

</div><!--row-->


    </div><!--right-->
    <button class="btn btn-success"(click)="downloadAsPDF()">Download as PDF</button>
    
    

 

   

    
    

    

    

    

    <div class="interest">
       <span>interest</span> {{arr.Interest}}
       {{arr | json}}
    </div><!--interest-->
  </div><!--row-->
</div><!--conainer-->
</div>
