<nav class="navbar navbar-expand navbar-light" >
    
    
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav col-10 ml-auto  gap: 5rem;">
        <a class="nav-item nav-link" routerLink='/' routerLinkActive="active" >Form</a>
        <!-- <a class="nav-item nav-link" routerLink="portfolio" routerLinkActive="active">Potfolio</a> -->
        <a class="nav-item nav-link" routerLink="portfolio2" routerLinkActive="active">Potfolio2</a>
        <a class="nav-item nav-link" routerLink="cv" routerLinkActive="active">CV</a>
        
      </div>
       
          
      </div>
  
</nav>
